*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap');

:root{
    /* colors */
    --transparent: #ffffff00;
        /* Neutral */
        --neutral_900: #062630;
        --neutral_700: #385159;
        --neutral_200: #e6e1df;
        --neutral_100: #faf5f3;
        --neutral_0: #ffffff;

        /* Ligth Salmon */
        --light-salmon_500: #fea36f;
        --light-salmon_100:#ffd2d1;
        --light-salmon_50: #fff5ef;
        
        /* Gradient */
        --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
        --gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
    /* Fim Colors*/

    /* Fonts */
        --martian-mono: "Martian Mono", sans-serif;
        --inter: "Inter", sans-serif;
        --letter-spacing1: -2px;
        --letter-spacing2: -1px;
        --letter-spacing3: -0.5px;

        /* Text preset 1 */
        --text-preset1: 700 62px/1.2 var(--martian-mono);
        --text-preset1-mobile: 700 38px/1.2 var(--martian-mono); 
        --letter-spacing1: -2px;
        
        /* Text preset 2 */
        --text-preset2: 600 50px/1.3 var(--martian-mono);
        --text-preset2-mobile: 600 34px/1.3 var(--martian-mono);
        --letter-spacing1: -2px;

        /* Text preset 3 */
        --text-preset3: 600 34px/1.3 var(--martian-mono);
        --text-preset3-mobile: 600 24px/1.1 var(--martian-mono);
        --letter-spacing2: -1px;

        /* Text-preset 4 */
        --text-preset4: 600 24px/1.1 var(--martian-mono);
        --text-preset4-regular: 400 24px/1.1 var(--martian-mono);
        --letter-spacing2: -1px;

        /* Text preset 5 */
        --text-preset5: 400 20px/1.4 var(--inter);
        --text-preset5-semibold: 600 20px/1.4 var(--inter);
        --letter-spacing3: -0.5px;

        /* Text preset 6 */
        --text-preset6: 600 18px/ 1.3 var(--martian-mono);
        --text-preset6-mobile: 600 16px/ 1.3 var(--martian-mono);
        --letter-spacing2: -1px;

        /* Text preset 7 */
        --text-preset7: 400 14px/ 1.2 var(--martian-mono);
        --letter-spacing2: -1px;

    /* Fim Fonts */

    /* Spacing */
        --spacing-0: 0px;
        --spacing-025: 2px;
        --spacing-050: 4px;
        --spacing-075: 6px;
        --spacing-100: 8px;
        --spacing-150: 12px;
        --spacing-175: 16px;
        --spacing-200: 20px;
        --spacing-250: 24px;
        --spacing-300: 28px;
        --spacing-400: 32px;
        --spacing-500: 40px;
        --spacing-600: 48px;
        --spacing-800: 64px;
        --spacing-1000: 80px;
    /* Fim Spacing */

    /* Border Radius */
        --radius-0: 0px;
        --radius-4: 4px;
        --radius-6: 6px;
        --radius-8: 8px;
        --radius-10: 10px;
        --radius-12: 12px;
        --radius-16: 16px;
        --radius-20: 20px;
        --radius-24: 24px;
        --radius-full: 999px;
}


/* Header */
header{
    padding: var(--spacing-200);
    background-image: url(assets/images/pattern-light-bg.svg);
    background-color: var(--neutral_100);
}

/* Hero section */
.hero {
    padding: var(--spacing-200);
    background-image: url(assets/images/pattern-light-bg.svg);
    background-color: var(--neutral_100);

    /* ======================
       Textos principais
    ====================== */
    .hero_texts {
        > h1 {
            font: var(--text-preset1-mobile);
            background: var(--text-gradient);
            background-clip: text;
            color: transparent;
            letter-spacing: var(--letter-spacing1);
        }

        > p {
            font: var(--text-preset5);
            margin: var(--spacing-300) 0 0;
            letter-spacing: var(--letter-spacing3);
        }
    }
    
    /* ======================
       Botão CTA
    ====================== */
    .cta-container {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            text-decoration: none;
            padding: var(--spacing-200) var(--spacing-250);
            border: 2px solid var(--neutral_900);
            border-radius: var(--radius-8);
            margin: var(--spacing-400) 0 var(--spacing-200);

            background-color: var(--light-salmon_50);
            color: var(--neutral_900);
            font: var(--text-preset6-mobile);
            letter-spacing: var(--letter-spacing1);
        }

        /* ======================
           Depoimentos e Avaliações
        ====================== */
        .testimonials-container {
            display: grid;
            grid-template-columns: 1fr 2fr;
            align-items: center;

            .testimonials-image {
                width: 100%;
            }

            .rating-container {
                margin: 0 0 0 var(--spacing-150);

                > p {
                    font: var(--text-preset7);
                    letter-spacing: var(--letter-spacing2);
                    color: var(--neutral_700);
                }
            }
        }
    }

    /* ======================
       Imagens
    ====================== */
    > img {
        border-radius: var(--radius-4);
    }
    
    .image {
        width: 100%;
        margin: var(--spacing-800) 0 var(--spacing-1000);
    }
}


/* ======================
   Sessão de Read-together
====================== */
.read-together {
    padding: var(--spacing-200);

    /* ----------------------
       Textos da sessão
    ---------------------- */
    .text-container {
        > h2 {
            margin: var(--spacing-800) 0 var(--spacing-250);
            font: var(--text-preset2-mobile);
        }
        
        /* Lista de features */
        .features-list {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-175);
            list-style: none;

            .feature-item {
                display: flex;
                gap: var(--spacing-150);
                font: var(--text-preset5);
                color: var(--neutral_700);
            }
        }
    }

    /* ----------------------
       Imagem da sessão
    ---------------------- */
    .image {
        width: 100%;
        border-radius: var(--radius-12);
        margin: var(--spacing-500) 0 0;
    }
}

/* ======================
   Sessão de Not Avarege Book Club
====================== */
.avarege-book-club {
    padding: var(--spacing-200);

    /* ----------------------
       Textos da sessão
    ---------------------- */
    .text-container {
        > h2 {
            font: var(--text-preset2-mobile);
            margin: 0 0 var(--spacing-250);
            width: 100%;

            > span {
                position: relative;
                left: -126px;
                top: 8px;
                
                > img {
                    width: 115px;
                }
            }
        }

        > p {
            font: var(--text-preset5);
        }

        > strong {
            font: var(--text-preset5-semibold);
        }
    }

    /* ----------------------
       Logos (escondidos no momento)
    ---------------------- */
    .tech-logos {
        display: none;
    }

    /* ----------------------
       Imagem da sessão
    ---------------------- */
    .image {
        width: 100%;
        border-radius: var(--radius-12);
        margin: var(--spacing-500) 0 var(--spacing-800);
    }
}



/* ======================
   Sessão de Reading-Journey
====================== */
.reading-journey {
    padding: var(--spacing-800) var(--spacing-200);
    background-image: url(assets/images/pattern-light-bg.svg);
    background-color: var(--neutral_100);
    margin: 0 var(--spacing-200) var(--spacing-800);
    border-radius: var(--radius-12);
    overflow: hidden;
    position: relative;

    /* ----------------------
       Título
    ---------------------- */
    > h2 {
        font: var(--text-preset2-mobile);
    }

    /* ----------------------
       Imagem de fundo
    ---------------------- */
    > img {  
        position: absolute;
        bottom: -180px;
        right: -190px;
        width: 120%;
        opacity: 0.8;
    }

    /* ----------------------
       Etapas (steps)
    ---------------------- */
    .step-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-400);
        
        &:nth-child(2) {
            margin: var(--spacing-400) 0 0;
        }

        .step {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-200);

            .step_number_container {
                font: var(--text-preset6-mobile);
                color: var(--neutral_900);
                border: var(--spacing-025) solid var(--neutral_900);
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: var(--spacing-050);
            }

            > p {
                font: var(--text-preset6-mobile);
                color: var(--neutral_900);
            }
        }
    }
}


/* Membership Options */
.membership-option {
  padding: var(--spacing-200) var(--spacing-200) 0 var(--spacing-200) ;

  h2 {
    font: var(--text-preset2-mobile);
    color: var(--neutral_900);
  }

  .member_pro_styles {
    background-color: var(--neutral_100);
    background-image: url(assets/images/pattern-glow.svg);
  }

  .option-card {
    padding: var(--spacing-250);
    margin-top: var(--spacing-250);
    border: 1px solid var(--neutral_200);
    border-radius: var(--spacing-100);

    .button-membership {
      display: block;
      padding: var(--spacing-200) var(--spacing-250);
      margin-top: var(--spacing-400);
      text-align: center;
      border: 2px solid var(--neutral_900);
      border-radius: var(--radius-8);
      text-decoration: none;
      color: var(--neutral_900);
      font: var(--text-preset6-mobile);
      background-color: var(--light-salmon_50);
    }

    .price-container {
      margin: var(--spacing-250) 0;

      .price {
        font: var(--text-preset3);
        color: var(--neutral_900);
      }

      .price-duration {
        font: var(--text-preset5);
        color: var(--neutral_700);
      }
    }

    .options-details {
      h3 {
        font: var(--text-preset4);
        color: var(--neutral_900);
      }

      hr {
        margin-bottom: var(--spacing-250);
        border: none;
        border-top: 1px solid var(--neutral_200);
      }
    }
  }

  
  .features-item {
    font: var(--text-preset5);
    display: flex;
    gap: var(--spacing-150);

    &:nth-child(2){
        margin: var(--spacing-175) 0 0 0;
    }
  }
}


/* ======================
   Testimonials
====================== */
.testimonial {
    padding: 0 var(--spacing-200);
    margin: var(--spacing-800) 0;
}

/* ----------------------
   Rating
---------------------- */
.rating-container {
    margin: 0 0 var(--spacing-400);

    > img {
        width: 9%;
    } 
}

/* ----------------------
   Conteúdo
---------------------- */
.testimonial-content {
    > h3 {
        font: var(--text-preset3-mobile); 
        color: var(--neutral_900);  
        margin-top: var(--spacing-400);
    }

    > p {
        font: var(--text-preset5);
        color: var(--neutral_700);
        margin: var(--spacing-400) 0 0;
    }
}



/* ======================
   Footer
====================== */
footer {
    padding: var(--spacing-175);
    background-color: var(--neutral_900);
    background-image: url(assets/images/pattern-dark-bg.svg);

    border-top-left-radius: var(--radius-16);
    border-top-right-radius: var(--radius-16);

    > h1 {
        text-align: center;
        font: var(--text-preset2-mobile);
        color: var(--neutral_100);
        margin-top: var(--spacing-600);
    }
}

/* ----------------------
   Call-to-action
---------------------- */
.footer-cta {
    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-175);
        
        text-decoration: none;
        color: var(--neutral_0);
        font: var(--text-preset6-mobile);
        letter-spacing: var(--letter-spacing1);

        border: 2px solid var(--neutral_0);
        border-radius: var(--spacing-100);
        padding: var(--spacing-200) var(--spacing-250);
        margin-top: var(--spacing-500);
        width: 100%;
    }
}

/* ----------------------
   Testimonials
---------------------- */
.testimonials-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-top: var(--spacing-250);
    
    .testimonials-image {
        width: 100%;
    }
}

.rating-container-footer {
    margin: 0 0 0 var(--spacing-150);

    > p {
        font: var(--text-preset7);
        letter-spacing: var(--letter-spacing2);
        color: var(--neutral_0);
    }
}

.stars-container {
    > img {
        width: 11.4%;
    }
}

/* ----------------------
   Copyright
---------------------- */
.copy-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-175);

    margin-top: var(--spacing-800);
    border-top: 1px solid var(--neutral_700);
    padding-top: var(--spacing-250);

    > p {
        font: var(--text-preset7);
        color: var(--neutral_0);
    }
}